.login {
    width: 80vw;
    height: 80vh;
    background-color: #FCF6F5FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.login-left,.login-right {
    flex: 1;
    display: flex;
    margin: 20px;
    flex-direction: column;
    justify-content: center;
} 

.login-left-logo {
    font-size: 50px;
    font-weight: 800;
    color: #990011FF;
    margin-bottom: 10px;
}

.login-left-desc {
    font-size: 24px;
}

.login-right-box {
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-right-box-form {
    height: 180px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-right-box-input {
    height: 50px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 18px;
    padding-left: 20px;
}

.login-right-box-input:focus {
    outline: none;
}

.login-right-box-login,.login-right-box-register {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #990011FF;
    color: #FCF6FC;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.login-right-box-login:focus,.login-right-box-register:focus {
    outline: none;
}

.login-right-box-login:disabled,.login-right-box-register:disabled {
    background-color: lightcoral;
    cursor: not-allowed;
}

.login-right-box-reset {
    margin-top: 10px;
    text-align: center;
    color: #990011FF;
}

.login-right-box-register {
    background-color: #990011FF;
}
